<% if alert.present? %>
  <div class="alert alert--warning alert__banner">
    <p class="alert--content"><%= alert %></p>
    <%= link_to '#', class: 'alert--trigger' do %>
      <%= h.embedded_svg 'launch/icons/alert-icon.svg', class: 'alert--close-icon' %>
    <% end %>
  </div>
<% end %>
<% if notice.present? %>
  <div class="alert alert--success alert__banner">
    <p class="alert--content"><%= notice %></p>
    <%= link_to '#', class: 'alert--trigger' do %>
      <%= h.embedded_svg 'launch/icons/alert-icon.svg', class: 'alert--close-icon' %>
    <% end %>
  </div>
<% end %>